/* Header Section */

.subHeader{
    padding-top:10px;
    color: white
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    /* border-color:coral;
    border-style: dotted;*/
} 

.headerAlignment{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-color:coral;
    border-style: dotted; */
}

.eventOverviewHeaders{
    padding:18px;
    margin:0;
    background-image: linear-gradient(#ffffff,#f5a742);

} 

.FintechMonthHeader{
    font-size: 40px;
    color:white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display:inline-block;
    border-bottom:4px solid coral;
    padding-bottom: 1px;
    margin: 10px 0 10px 0;
    /* outline-style:dotted;
    outline-color:black; */
} 

/* About Section */

.aboutHeader{
    text-decoration: underline;
    margin:0;
    padding:40px;
    /* outline-style:dotted;
    outline-color:black; */
}

.HomePageAbout{
    min-width: 300px;
    width:500px;
    align-items:center;
    justify-content: center;
    margin:0;
    padding-bottom: 35px;
    /* outline-style:dotted;
    outline-color:black; */
}



/* ETC */

.underline {
    text-decoration: underline;
}

.outline { 
    border-color:coral;
    border-style: dotted;
}

