body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Countdown{
  font-size: 30px;
  display: flex;
  justify-content:center;
  align-items:center;
  /* border-color:coral;
  border-style: dotted; */
}


.HomePageAbout{
width:550px;
display: block;
margin-left: auto;
margin-right: auto;
}

.inlineBlock{
  display: flex;
  justify-content:center;
  align-items:top;
  /* outline-style:dotted;
  outline-color:black; */

}

.FintechMonthHeader{
font-size: 50px;
} 

h1,h2,h3,h4,h5 {
  display: flex;
  justify-content:center;
  align-items:center;
}

.underline {
  text-decoration: underline;
}

.center{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* border-color:coral;
  border-style: dotted; */

}

.padding20{
  /* padding:10px; */
  margin:10px;
}

.Button {
  display: flex;
  justify-content:center;
  text-align: center;
  padding:10px;
  margin:0px;
  align-items:center;
  /* border-color:green;
  border-style: dotted; */
}

.Grp1 {
  border-color:black;
  border-style: dotted;
  width: 500px;
}

.Grp2 {
  /* border-color:black;
  border-style: dotted; */
  width: 550px;
}

.outline { 
  /* border-color:coral;
  border-style: dotted; */
}

.comingSoon { 
  margin:0;
  /* border-color:coral;
  border-style: dotted; */
}