

.button-grad {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 10%;
    background-image: linear-gradient(#131d4700, #131D47, #131D47);
}

/* Event button workshop description css */
.desc-bar {
    position: absolute;
    background-color: #131D47;
    bottom: 0%;
    height: 20%;
    width: 90%;
    color: white;
    text-align: center;
    padding: 0 5% 5% 5%;
    font-size: 18px;
}

/* Top horizontal row style */
.blog-row {
    font-size: 34px;
    padding: 1%;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.blog-main {
    background-image: url('../../images/backgroundimage.png');
    background-size: 100vw 100%;
    background-repeat: no-repeat;;
    min-height: 93vh;
}
